*
{
  -fx-dark-blue-1 : #120E29;
  -fx-dark-blue-2 : #25213B;
  -fx-dark-blue-3 : #1B1733;
  -fx-dark-blue-4 : #0A061D;
  -fx-dark-blue-5 : #040211;

  -fx-accent-color-1: #3B320F;
  -fx-accent-color-2: #554C2B;
  -fx-accent-color-3: #4A411B;
  -fx-accent-color-4: #2A2205;
  -fx-accent-color-5: #191400;

  -fx-secondary-accent-color-1: #25282D;
  -fx-secondary-accent-color-2: #353A41;
  -fx-secondary-accent-color-3: #6A7481;
  -fx-secondary-accent-color-4: #A8AFB8;
  -fx-secondary-accent-color-5: #E9EAED;

}



.main
{
    -fx-border-style: solid;
    -fx-border-width: 1px 0px;
}

.dark.main
{
  -fx-background-color: -fx-dark-blue-1;
  -fx-color: -fx-secondary-accent-color-1;
  -fx-border-color: -fx-dark-blue-5;
}

.light.main
{
  -fx-background-color: #FFFFFF;
  -fx-color: -fx-secondary-accent-color-1;
  -fx-border-color: -fx-dark-blue-5;
}

.dark .background
{
  -fx-background-color: -fx-dark-blue-1;
}
.light .background
{
  -fx-background-color: #FFFFFF;
}

.menu-bar
{
  -fx-background-color: transparent;
}

.menu-bar .container .menu
{
  -fx-background-color: transparent;
}

.dark .menu-bar .context-menu
{
  -fx-background-color: -fx-dark-blue-4;
}
.light .menu-bar .text
{
  -fx-fill: -fx-dark-blue-5;
}
.menu-bar .context-menu
{
  -fx-background-color: -fx-secondary-accent-color-4;
}

.piste
{
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: -fx-accent-color-2;
}

.dark .piste .scroll-pane
{
  -fx-background-color: -fx-dark-blue-4;
}
.light .piste .scroll-pane
{
  -fx-background-color: #FFFFFF;
}

.dark .control-bar-pane
{
  -fx-background-color: -fx-dark-blue-5;
  -fx-color: #000000;
}
.dark .control-bar-pane
{
  -fx-background-color: #FFFFFF;
  -fx-color: -fx-dark-blue-5;
}

.piste-control
{
  -fx-max-width: 150px;
}

.dark .piste-control
{
  -fx-background-color: -fx-dark-blue-4;
}
.light .piste-control
{
  -fx-background-color: -fx-secondary-accent-color-4;
}

.dark .piste-timeline
{
  -fx-background-color: -fx-dark-blue-2;
}
.light .piste-timeline
{
  -fx-background-color: -fx-secondary-accent-color-4;
}

.button
{
  -fx-background-color: -fx-secondary-accent-color-1;
}

.button:hover
{
  -fx-background-color: -fx-dark-blue-5;
}

.button:pressed
{
  -fx-background-color: -fx-secondary-accent-color-2;
}

.button:armed, .button:focused
{
  -fx-background-color: -fx-secondary-accent-color-1;
    -fx-focus-color: transparent;
}


.button:focused:hover
{
    -fx-background-color: -fx-secondary-accent-color-2;
}

.button .text
{
  -fx-fill: #FFFFFF;
}

.radio-button
{
  -fx-border-width: 2px;
  -fx-border-color: -fx-secondary-accent-color-1;
  -fx-border-style: solid;
  -fx-padding : 6px 20px;
  -fx-border-insets: 0 1px 0 0;
}

.radio-button:selected
{
  -fx-border-color: -fx-secondary-accent-color-4;
}

.radio-button .radio
{
  visibility: hidden;
  -fx-padding: 0;
  -fx-border-insets: 0;
  -fx-background-radius: 0px;
  -fx-max-width: 0;
  -fx-max-height: 0;
  -fx-pref-width: 0;
  -fx-pref-height: 0;
}

.dark .radio-button .text
{
  -fx-fill: #FFFFFF;
}

.light .radio-button .text
{
  -fx-fill: -fx-dark-blue-5;
}

.dark .list-view
{
  -fx-background-color: -fx-dark-blue-5;
}

.dark .list-cell .text
{
  -fx-fill: -fx-secondary-accent-color-3;
}

.dark .list-cell:focused .text
{
  -fx-fill: white;
}

.dark .list-cell:even
{
  -fx-background-color : -fx-dark-blue-4;
}

.dark .list-cell:odd
{
  -fx-background-color : -fx-dark-blue-3;
}

.dark .scroll-bar
{
  -fx-background-color: -fx-dark-blue-4;
}

.dark .scroll-bar .thumb
{
  -fx-background-color: -fx-secondary-accent-color-1;
}


.light .scroll-bar
{
  -fx-background-color: -fx-secondary-accent-color-5;
}

.light .scroll-bar .thumb
{
  -fx-background-color: -fx-secondary-accent-color-3;
}

.dark .split-pane-divider
{
  -fx-background-color: -fx-secondary-accent-color-1;
}

.light .split-pane-divider
{
  -fx-background-color: -fx-secondary-accent-color-4;
}


.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:focused
{
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    /* -fx-padding: 1; */
}

.radio-button > .radio, .radio-button:focused > .radio
{
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
}
.split-menu-button:focused
{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-background-radius: 3, 3;
}

.menu-item .label{
    -fx-text-fill: #000;
}

/*
Documentation :
https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
*/
